@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}
body{
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 85px;
  color: white;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

a h2 {
  margin-left: 40px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: white;
  opacity: 0.5;
}
.header .nav-btn{
  cursor: pointer;
  
  display: none;
  opacity: 0;
  
}
@media only screen and (max-width: 768px) {
  .header .nav-btn{
    display: block;
    opacity: 1;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  

  } 
  .header{
    height: 90px;
    
  }
  .header nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(21, 21, 21);
    transition: 1s;
    transform: translateY(-100vh);
    font-size: 4rem;
    z-index: 2;
  }
  nav a{
    border: 3px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header .res_nav{
    transform: none;
  }
  div.main {
    height: 87vh;
    width: 100%;
    display: flex;
   
    flex-direction: column;
    gap: 39px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    background-color: black;
  }
  .left-main .intro h1{
    font-size: 4.5rem;
   
  
    
  }
  .left-main .intro {
   
   display: flex;
   justify-content: center;
   align-items: center;
  }
div.left-main{
   
   
    margin: 0;
    width: 100%;
    height: 472px;
 
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }
  .typing p{
    font-size: 2.6rem;
  }
  div.skills{
    margin-top: 100px;
   
  }
  div.outer-blob{
   
    order: -1;
    margin: 0;
    scale: 1.2;
    z-index: 0;
  }
  div.skills-container img{
      transform: scale(0.8);
 
  }


  
}

input {
  border: none;
  border-radius: 5px;
  height: 22px;
}

nav  {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
li {
  list-style: none;
}

.main {
  height: 100vh;
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  color: white;
  background-color: black;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 250px;
}
button {
  all: unset;
}
.typing {
  /* margin-left: 70px; */
  font-size: 2.8rem;
}
.left-main {
  display: flex;
  flex-direction: column;
  height: 400px;
   background: radial-gradient(
    circle,
    rgba(112, 26, 122, 1) 0%,
    rgba(2, 0, 36, 1) 40%,
    rgba(0, 0, 0, 1) 65%
  ); 
  justify-content: center;
  animation: slide 0.8s ease-in-out;
}

.blob {
  background-image: url(./assets/harsh.png);
  width: 380px;
  height: 380px;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center center;
  margin: 20px;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
  animation: animate 5s ease-in-out infinite;
  
  
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}
@keyframes slide {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
   transform: translateY(0%);
   opacity: 1;
  }
}
.nav-open-btn{
  margin-right: 60px;
 
}




h1 {
  font-size: 4.5rem;
}
span {
  color: white;
}

.outer-blob {
  background: radial-gradient(
    circle,
    rgba(90, 60, 180, 1) 0%,
    rgba(102, 0, 255, 1) 0%,
    rgba(88, 0, 220, 1) 25%,
    rgba(0, 0, 0, 1) 74%
  );
  display: flex;
  align-items: center;
  justify-content: center;

  height:520px;
 
  width: 520px;
  animation: slide 0.8s ease-in-out;
}

button i {
  font-size: 1.4rem;
}
.footer {
  background-color: black;
  color: white;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  opacity: 0.4;
}

.skills-container div img {
  width: 150px;

  transition: all 0.3s ease-out;
}

.skills-container {
  width: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  margin-top: 40px;
}
.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(90, 60, 180, 1) 0%,
    rgba(102, 0, 255, 1) 0%,
    rgba(65, 0, 164, 1) 0%,
    rgba(88, 0, 220, 1) 0%,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 1) 55%
  );
}
.skills {
  background-color: black;
  color: white;
  margin-bottom: 30px ;
}
.skills h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-decoration: underline;
}
.skills-container div img:hover {
  transform: scale(1.15);
}
